<!DOCTYPE html>
<html lang="az">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Leon Courser</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav>
        <ul>
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-controller="Users" asp-action="Index">Users</a></li>
            <li><a asp-controller="Books" asp-action="Index">Books</a></li>
            <li><a asp-controller="Courses" asp-action="Index">Courses</a></li>
        </ul>
    </nav>

    <div class="container">
        @RenderBody()
    </div>

    <footer>
        <p>&copy; @DateTime.Now.Year Leon Courser</p>
    </footer>
</body>
</html>
